<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Voting App</title>
  </head>
  <body>
    <div
      style="
        width: 500px;
        height: 100px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
      ">
      <h1>My Voting App</h1>
      <div
        style="
          height: 40px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
        ">
        <h3>
          Already have an account &nbsp;&nbsp;
          <a href="signin">Sign in</a>
        </h3>
      </div>
      <div
        style="
          height: 40px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
        ">
        <h3>
          New User &nbsp;&nbsp;
          <a href="signup">Sign Up</a>
        </h3>
      </div>
    </div>
  </body>
</html>
