<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>My Voting App</title>
  </head>
  <body>
    <div
      style="
        width: 500px;
        height: 100px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
      ">
      <%- include('header.ejs') %>
      <div style="height: 40px; margin-top: 40px">
        <h2>
          Already have an account &nbsp;&nbsp;
          <a
            href="signin"
            class="px-10 py-5 bg-green-600 hover:bg-green-800 border border-red-300 text-black rounded-full"
            >Sign in</a
          >
        </h2>
      </div>
      <div style="height: 40px; margin-top: 40px">
        <h3>
          New User
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            href="signup"
            class="px-10 py-5 bg-green-600 hover:bg-green-800 border border-red-300 text-black rounded-full"
            >Sign Up</a
          >
        </h3>
      </div>
    </div>
  </body>
</html>
